.leftMenu {
    width: 170px;
    height: 100vh;
    position: fixed;
    background-color: #2a3042;
    float: left;
    font-family: Calibri;
    margin: 0;
    display: flex;
    flex-direction: column;
    transition: all ease 0.7s;
}

.leftMenu p {
    cursor: pointer;
    margin: 10px 0 0 182px;
    color: rgb(42, 48, 66);
    font-size: 25pt;
    transition: all ease 0.5s;
    position: absolute;
}

.boxLogo {
    width: 80px;
    height: 80px;
    background-image: url(../imagens/box-logo.png);
    background-size: cover;
    margin: 18px auto 0;
}
  
.leftMenu ul {
    margin: 5px 0 0 -21px;
}
  
.leftMenu ul li {
    list-style:none;
    width: 120px;
    border-bottom: 2px dotted rgb(77, 77, 77);
    padding: 5px;
    text-decoration: none;
}

.leftMenu ul li:last-child {
    border: 0;
}

.leftMenu ul li a {
    color: rgb(172, 172, 172);
    text-decoration: none;
    transition: all ease 0.5s;
}
  
.leftMenu ul li a:hover {
    color: #fff;
    transition: all ease 0.5s;
}

.leftMenu .drop li {
    width: auto;
    margin-left: -15px;
    text-transform: none;
    border: 0;
    padding: 1px;
}

.leftMenu span {
    cursor: pointer;
}

.esconde {
    margin-left: -160px;
    transition: all ease 0.5s;
}

#cadastro, #relatorios {
    color: rgb(172, 172, 172);
}

#cadastro:hover, #relatorios:hover {
    color: #fff;
    transition: all ease 0.5s;
}

.dropOff {
    overflow-y: hidden;
    height: 19px;
}

.dropOn {
    height: auto;
}

.dropOff span::before, .dropOn span::before {
    float: right;
    color: rgb(113, 109, 109);
    font-size: 8pt;
    margin-top: 3px;
}

.dropOff span::before {
    content: '\2190';
    transform: rotate(-90deg);
    transition: all ease 0.5s;
}

.dropOn span::before {
    /*content: '\2193';*/
    content: '\2190';
    transform: rotate(90deg);
    transition: all ease 0.3s;
}
